<div>
  <app-top-nav></app-top-nav>
</div>
<div>
  <ul>
    <li *ngFor="let arr of person">{{arr.name}}</li>
    <!-- <span *ngIf="!person; else personNotExist">Records found.</span> -->
    <div *ngIf="!person; then personExists else personNotExists"></div>

    <ng-template #personNotExists> No person exist. </ng-template>
    <ng-template #personExists> Records found. </ng-template>

    <!--binding  -->
    <span>{{person}}</span>
    <button (click)="submit($event,person)">Submit</button>

    <!--from Service  -->
    {{ someString}}
  </ul>
  <app-content></app-content>
</div>
<div>
  <app-sidebar></app-sidebar>
</div>